<html>
    <head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="/css/screen.css">
    </head>
    <body>
        <h2>Login or Register</h2>
        <p><b>{{$}}</b></p>
        <h3>Login</h3>
        <form action="/login" method="post" id="login">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"></br>
        <button type="submit">Login</button>
        </form>
        <h3>Register</h3>
        <form action="/register" method="post" id="register">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"></br>
        <button type="submit">Register</button>
        </form>
    </body>
</html>
